.banner-all{
    background: url(../../../image/Untitled-1.png);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
}

@media screen and(max-width:576px) {
    .banner-all{
        
        width: auto;
        background-repeat: no-repeat;
    }   
}